$major-color: #2574A9;
$minor-color: #5BC0BE;

body {
  background: #F9F7F3;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
}

a {
  color: $major-color;
  &:hover,
  &:focus {
    color: $minor-color;
  }
}

.head-title {
    text-align: center;
    h1 {
      font-weight: 900;
      font-size: 3em;
      text-transform: none;
    }
}

h1 {
  font-weight: 300;
}

.mentors h1 {
  margin-top: 0;
  font-size: 2.8rem;
}

.mentors .label-info {
  float: right;
  background-color: $minor-color;
  font-family: inherit;
  font-weight: 300;
}

.social {
  text-align: center;
  a {
    margin: 0 3px;
    background-color: #888;
    display: inline-block;
    // box-shadow: 2px 0 20px 1px rgba(0,0,0,0.2);
    img {
      width: 48px;
      height: 48px;
    }
  }
  a.github:hover,
  a.github:focus {
    background-color: black;
  }
  a.twitter:hover,
  a.twitter:focus {
    background-color: #00ACED;
  }
  a.email:hover,
  a.email:focus {
    background-color: #DD4B39;
  }
}

@media(max-width: 768px) {
  .social {
    margin: 15px auto;
  }
  h1.mentorName {
    line-height: 1.5em;
  }
}
