$aqua: #8ebdc5;
$moaraqua: #45ADA8;

body {
  background: #f4f4f7;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
}

a {
  color: $moaraqua;
  &:hover {
    color: $aqua;
  }
}

.head-title {
    text-align: center;
    h1 {
      font-weight: 900;
      font-size: 3em;
      text-transform: none;
    }
}

h1 {
  font-weight: 300;
}

.mentors h1 {
  margin-top: 0;
  font-size: 2.8rem;
}

.mentors .mentorName h1 small {
  a {
    color: $aqua;
    &:hover {
      color: $moaraqua;
    }
  }
}

.social {
  text-align: center;
  a {
    margin: 0 3px;
    background-color: #888;
    display: inline-block;
    // box-shadow: 2px 0 20px 1px rgba(0,0,0,0.2);
  }
  a.github:hover {
    background-color: black;
  }
  a.twitter:hover {
    background-color: #00ACED;
  }

}
