doctype
html
  head
    meta(charset="utf-8")
    title NUHacks Mentors List
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,900")
    meta(name="viewport" content="width=device-width")
  body
    .container
      != yield